/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
}


/* Variables */

:root {
    --basic-black: #000000;
    --opacity-black: rgba(0, 0, 0, 0.3);
    --catalog-arrow-black: #231F20;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --basic-yellow: #EFC84A;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
    --basic-dark-white: #EEEEEE;
    --catalog-light-grey: #DFDFDF;
    --catalog-medium-grey: #D5D5D5;
    --basic-light-grey: #C4C4C4;
    --basic-light-black: #283136;
    --basic-grey: #666666;
    --basic-extra-grey: #444444;
    --basic-medium-grey: #4D4D4D;
    --catalog-arrow-light-grey: #A6A6A6;
    --input-grey: #D7DCDE;
    --input-grey-hover: #B4B9BB;
    --social-grey: #E1E1E1;
    --catalog-pagination-white: #DBDBDB;
    --basic-white: #FFFFFF;
    --opacity-white: rgba(255, 255, 255, 0.3);
    --active-shadow-grey: rgba(0, 1, 1, 0.1);
    --modal-shadow-black: rgba(0, 0, 0, 0.4);
}


/* Global */

body.page-body {
    align-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(--opacity-black);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Grid */

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}


/* Page header */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    display: flex;
    background-color: var(--basic-light-grey);
    padding-top: 49px;
}

.page-header .container {
    display: flex;
    justify-content: flex-start;
}

.page-logo {
    width: 160px;
    height: 66px;
}

.page-logo:hover path {
    fill-opacity: 0.7;
}

.page-logo:active path {
    fill-opacity: 0.3;
}


/* Page navigation */

.page-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 26px;
    margin-left: 202px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: transparent;
}

.nav-link {
    color: var(--basic-black);
    margin-left: 45px;
}

.nav-link:hover {
    color: var(--basic-red);
}

.nav-link:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:first-child a {
    margin-left: 0;
}

.nav-link:last-child a {
    margin-right: 0;
}

.nav-link-active {
    border-bottom: 2px solid var(--basic-red);
}


/* Basket - Page navigation */

.nav-link .nav-link-basket {
    max-width: 150px;
    margin-top: 14px;
    padding-left: 246px;
}

.nav-link-basket {
    padding-left: 40px;
    position: relative;
    align-self: end;
    padding-top: 13px
}

.nav-link a,
.nav-link-basket {
    color: var(--basic-black);
    display: block;
    padding: 13px 0;
}

.nav-link a:hover,
.nav-link-basket:hover {
    color: var(--basic-red);
}

.nav-link a:active,
.nav-link-basket:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav-link-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("/img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 20px;
    left: 0;
}

.nav-link-basket:hover path,
.nav-link-basket:active path,
{
    fill-opacity: 1;
}


/* Button */

.button {
    color: var(--basic-white);
    font: inherit;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.button:hover,
.button:focus {
    background-color: var(--hover-red);
}

.button:active {
    background-color: var(--active-red);
    color: var(--opacity-white)
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-red);
}


/* Promo - Slider */

.promo {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: var(--basic-light-grey);
}

.promo-slide {
    display: none;
    padding-bottom: 80px;
}

.promo-slide img {
    object-fit: cover;
    background-color: var(--basic-light-grey);
}

.promo-slide.active {
    display: block;
}

.slide-1 {
    background-image: url("/img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position: 96% -4px;
}

.slide-2 {
    background-image: url("/img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: 96% -4px;
}

.slide-3 {
    background-image: url("/img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: 96% -4px;
}

.promo-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    padding-top: 74px;
    margin-bottom: 37px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.slider-controls {
    position: absolute;
    left: 47.7%;
    z-index: 1;
    top: 431px;
    width: 88px;
    display: flex;
    justify-content: space-between;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--basic-white);
}

.slider-controls .current {
    background-image: url("/img/decoration/current-slide.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.slide-button {
    display: block;
    max-width: 240px;
    padding-top: 14px;
    padding-bottom: 12px;
}


/* Features */

.features {
    padding: 80px 0;
    border-bottom: 2px solid var(--basic-dark-white);
}

.features-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.features-item-title {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-item-app .button {
    background-color: var(--basic-green);
}

.features-item-ppt .button {
    background-color: var(--basic-yellow);
}

.features-item-app .button:hover,
.features-item-app .button:focus {
    background-color: var(--hover-green);
}

.features-item-app .button:active {
    background-color: var(--active-green);
    color: var(--opacity-white)
}

.features-item-ppt .button:hover,
.features-item-ppt .button:focus {
    background-color: var(--hover-yellow);
}

.features-item-ppt .button:active {
    background-color: var(--active-yellow);
    color: var(--opacity-white)
}


/* About-company */

.about-company {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--basic-dark-white);
    align-content: flex-start;
}

.about-company-info {
    list-style: none;
    padding-left: 0;
}

.about-company-info li {
    margin-bottom: 23px;
    position: relative;
    padding-left: 35px;
}

.about-company-info li:last-child {
    padding-top: 2px;
}

.about-company-info li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--basic-red);
    top: 12px;
    left: 0;
}

.about-company-left {
    width: 660px;
    color: var(--basic-light-black);
}

.about-company-right {
    width: 360px;
    margin-top: -2px;
}

.about-company-right img {
    width: 360px;
    height: 208px;
}

.about-company-right p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 31px;
    padding-right: 0px;
}

.company-kpi-list {
    list-style: none;
    display: flex;
    margin-top: 0;
    padding: 0;
}

.company-kpi-slogan {
    padding-top: 284px;
    margin-top: 0;
}

.company-service-item {
    list-style: none;
}

.about-company-header {
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-company-description {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.company-service-list-items,
.company-kpi-slogan {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.company-kpi-item-text {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}

.company-kpi-result {
    text-align: center;
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    padding: 0px;
}


/* Partners */

.partners {
    padding-top: 46px;
    padding-bottom: 44px;
}

.partners-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.partners-item {
    display: flex;
    justify-content: center;
    width: 25%;
}

.partners-item a {
    opacity: 0.2;
}

.partners-item:hover a {
    opacity: 1;
}

.partners-item:active a {
    opacity: 0.1;
}


/* Map-Contacts */

.contacts {
    position: relative;
}

.contacts-map {
    border: 0;
    width: 100%;
    height: 416px;
    background-image: url("/img/map.png");
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-info {
    position: absolute;
    background-color: var(--basic-white);
    top: 54px;
    padding: 40px;
}

.contacts-name {
    margin: 0;
}

.contacts-name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
}

.contacts-adress,
.contacts-phone {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    display: flex;
}


/* Main footer */

.page-footer {
    display: flex;
    padding-top: 68px;
    padding-bottom: 68px;
}

.social {
    display: flex;
}

.social-item {
    list-style: none;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--social-grey);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.social-item li:last-child {
    margin-left: -2px;
}

.social-item li:hover {
    background-color: var(--hover-red);
}

.social-iteml li:active {
    background-color: var(--active-red);
    opacity: 0.3;
    box-shadow: inset 0px 3px 0px var(--active-shadow-grey);
}

.social-message-header {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    display: flex;
}

.social-message {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    padding-left: 14px;
    display: flex;
    color: var(--basic-extra-grey);
}


/* Modal */

.modal {
    padding-top: 63px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 100px;
    width: 760px;
    box-shadow: 0px 20px 40px var(--modal-shadow-black);
    display: grid;
    grid-template-columns: 1fr auto;
    position: fixed;
    right: 0;
    bottom: 200px;
    left: 0;
    margin: auto;
    background-color: var(--basic-white);
    display: none;
    z-index: 2;
}

.modal-show {
    display: grid;
}

.modal-show-animation {
    animation: bounce 0.6s;
}

.modal-error-animation {
    animation: shake 0.6s;
}

.modal-container {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.close-btn {
    width: 21px;
    height: 21px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0.3;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn:active {
    opacity: 0.1;
}

.close-btn::before,
.close-btn::after {
    content: "";
    position: absolute;
    top: 72px;
    right: 80px;
    width: 21px;
    height: 3px;
    background-color: var(--basic-red);
}

.close-btn::before {
    transform: rotate(45deg);
}

.close-btn::after {
    transform: rotate(-45deg);
}

.modal h2 {
    font-size: 45px;
    line-height: 52.73px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    margin-bottom: 37px;
    max-width: 700px;
}

.modal-label {
    line-height: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 9px;
}

.modal-item {
    width: 360px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.modal-item input {
    width: 360px;
    margin-bottom: 34px;
}

.modal-item textarea {
    width: 760px;
    min-height: 118px;
    margin-bottom: 34px;
}

.modal-item input,
.modal-item textarea {
    border-color: var(--input-grey);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.modal-label input::-webkit-input-placeholder,
.modal-label textarea::-webkit-input-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input::-moz-placeholder,
.modal-label textarea::-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:-moz-placeholder,
.modal-label textarea:-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:hover,
.modal-label textarea:hover {
    border-color: var(--input-grey-hover);
}

.modal-label input:hover::-webkit-input-placeholder,
.modal-label textarea:hover::-webkit-input-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:hover::-moz-placeholder,
.modal-label textarea:hover::-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:hover:-moz-placeholder,
.modal-label textarea:hover:-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:focus,
.modal-label textarea:focus {
    border-color: var(--basic-black);
}

.modal-label input:focus::-webkit-input-placeholder,
.modal-label textarea:focus::-webkit-input-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:focus::-moz-placeholder,
.modal-label textarea:focus::-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:focus:-moz-placeholder,
.modal-label textarea:focus:-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

input:invalid {
    color: var(--hover-red);
    border-color: var(--hover-red);
}

.modal-container+.button {
    display: block;
    width: 260px;
    height: 60px;
}


/* Catalog page title */

.catalog-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-content: start;
}

.page-header-title {
    text-align: center;
    padding-top: 72px;
    padding-bottom: 108px;
    margin: 0;
}

.sort {
    display: flex;
}

.sort-list {
    display: flex;
    list-style: none;
}

.sort-directions {
    display: flex;
    list-style: none;
}

.templates-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}

.price,
.sort-types {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    text-transform: uppercase;
}

.sort-action {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    text-transform: uppercase;
}


/* Сatalog page Button */

.button-secondary {
    background-color: var(--basic-dark-white);
    color: var(--basic-black);
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--catalog-light-grey);
}

.button-secondary:active {
    background-color: var(--catalog-medium-grey);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination-button {
    background-color: var(--basic-dark-white);
    border-radius: 3px;
    color: var(--basic-black);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--catalog-light-grey);
}

.pagination-button:active {
    background-color: var(--catalog-medium-grey);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-button-active {
    background-color: rgba(0, 0, 0, 0.0001);
    border-color: var(--catalog-pagination-white);
}


/* Catalog page filters */

.grids-filter-list,
.features-filter-list {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.grids-filter-items,
.features-filter-items {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.filter-input-checkbox:hover+label,
.grids-filter-itemtem:focus+label {
    color: var(--basic-medium-grey);
}


/* Modal window */

.modal {
    display: none;
}


/* Для сеток - удалить!!! */

section {
    outline: 5px solid rgba(55, 50, 50, 0.7);
    outline-offset: -5px;
}

.page-header,
.page-footer {
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

outline-offset: -5px;

}