@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
}


/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark-white: #EEEEEE;
    --basic-white: #FFFFFF;
    --basic-light-grey: #C4C4C4;
    --basic-red: #FB565A;
    --secondary-red: #E74246;
    --dark-red: #D7373B;
    --basic-green: #00CA74;
    --secondary-green: #00BC6C;
    --dark-green: #00AA62;
    --basic-yellow: #EFC84A;
    --secondary-yellow: #EAB534;
    --dark-yellow: #E5A722;
    --basic-light-black: #283136;
    --basic-grey: #666666;
    --basic-extra-grey: #444444;
    --basic-medium-grey: #4D4D4D;
    --catalog-light-grey: #DFDFDF;
    --catalog-medium-grey: #D5D5D5;
    --catalog-arrow-light-grey: #A6A6A6;
    --catalog-arrow-black: #231F20;
    --catalog-pagination-white: #DBDBDB;
}


/* Global */

body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-light-black);
    background-color: var(--basic-red);
    /* background-color: var(--basic-white); */
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}


/* Page navigation */

.container {
    background-color: var(--basic-white);
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: transparent;
}

.page-nav a {
    color: var(--basic-black);
}

.page-nav a:hover {
    color: var(--basic-red);
}

.page-nav a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}


/* Button */

.button {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
    align-items: center;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: var(--secondary-red);
}

.button:active {
    background-color: var(--dark-red);
    color: rgba(255, 255, 255, 0.3);
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-red);
}


/* Button catalog */

.button-secondary {
    background-color: var(--basic-dark-white);
    color: var(--basic-black);
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--catalog-light-grey);
}

.button-secondary:active {
    background-color: var(--catalog-medium-grey);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-button {
    background-color: var(--basic-dark-white);
    border-radius: 3px;
    color: var(--basic-black);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--catalog-light-grey);
}

.pagination-button:active {
    background-color: var(--catalog-medium-grey);
    color: rgba(0, 0, 0, 0.3);
}

.pagination-button-active {
    background-color: rgba(0, 0, 0, 0.0001);
    border-color: var(--catalog-pagination-white);
}


/* Promo container */

.promo-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    display: flex;
    align-items: center;
}


/* Features */

.features-list {
    list-style: none;
    display: flex;
}

.features-item-title {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.visually-hidden h2 {
    font-size: 24px;
    line-height: 30px;
}

.features-item-app .button {
    background-color: var(--basic-green);
}

.features-item-ppt .button {
    background-color: var(--basic-yellow);
}

.features-item-app .button:hover,
.features-item-app .button:focus {
    background-color: var(--secondary-green);
}

.features-item-app .button:active {
    background-color: var(--dark-green);
    color: rgba(255, 255, 255, 0.3);
}

.features-item-ppt .button:hover,
.features-item-ppt .button:focus {
    background-color: var(--secondary-yellow);
}

.features-item-ppt .button:active {
    background-color: var(--dark-yellow);
    color: rgba(255, 255, 255, 0.3);
}


/* About-company */

.about-company {
    list-style: none;
}

.about-company-header {
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    display: flex;
}

.about-company-description {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
}

.company-service-list-items,
.company-kpi-slogan {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    text-transform: uppercase;
}

.company-kpi-item-text {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    display: flex;
}

.company-kpi-result {
    text-align: center;
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    display: flex;
}


/* Partners */

.partners-list {
    display: flex;
    list-style: none;
}


/* Catalog */

.price,
.sort-types {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    text-transform: uppercase;
}

.sort-action {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    text-transform: uppercase;
}


/* Filters */

.grids-filter-list,
.features-filter-list {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.grids-filter-items,
.features-filter-items {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.filter-input-checkbox:hover+label,
.grids-filter-itemtem:focus+label {
    color: var(--basic-medium-grey);
}


/* Main footer */

.contacts-name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
}

.contacts-adress,
.contacts-phone {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    display: flex;
}

.social-message-header {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    display: flex;
}

.social-message {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    display: flex;
}

.page-footer {
    padding: 10px;
}


/* Social button */

.social-items {
    color: inherit;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-black);
}


/* Modal window */

.modal {
    display: none;
}
