/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
}


/* Variables */

:root {
    --basic-black: #000000;
    --opacity-black: rgba(0, 0, 0, 0.3);
    --less-opacity-black: rgba(0, 0, 0, 0.6);
    --popup-shadow-black: rgba(0, 0, 0, 0.25);
    --opacity-white: rgba(255, 255, 255, 0.3);
    --active-shadow-grey: rgba(0, 1, 1, 0.1);
    --modal-shadow-black: rgba(0, 0, 0, 0.4);
    --toggle-grey: #ABABAB;
    --toggle-shadow-black: rgba(0, 0, 0, 0.15);
    --catalog-arrow-black: #231F20;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --basic-yellow: #EFC84A;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
    --basic-dark-white: #EEEEEE;
    --catalog-light-grey: #DFDFDF;
    --catalog-medium-grey: #D5D5D5;
    --basic-light-grey: #C4C4C4;
    --basic-light-black: #283136;
    --basic-grey: #666666;
    --basic-extra-grey: #444444;
    --basic-medium-grey: #4D4D4D;
    --catalog-arrow-light-grey: #A6A6A6;
    --input-grey: #D7DCDE;
    --input-grey-hover: #B4B9BB;
    --social-grey: #E1E1E1;
    --catalog-pagination-white: #DBDBDB;
    --basic-white: #FFFFFF;
}


/* Global */

body.page-body {
    align-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(--opacity-black);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Grid */

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}


/* Page header */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    display: flex;
    background-color: var(--basic-dark-white);
    padding-top: 49px;
}

.page-header .container {
    display: flex;
    justify-content: flex-start;
}

.page-logo {
    width: 160px;
    height: 66px;
}

.page-logo:hover path {
    fill-opacity: 0.7;
}

.page-logo:active path {
    fill-opacity: 0.3;
}


/* Page navigation */

.page-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 26px;
    margin-left: 202px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: transparent;
}

.nav-link {
    color: var(--basic-black);
    margin-left: 45px;
}

.nav-link:hover {
    color: var(--basic-red);
}

.nav-link:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:first-child a {
    margin-left: 0;
}

.nav-link:last-child a {
    margin-right: 0;
}

.nav-link-active {
    border-bottom: 2px solid var(--basic-red);
}


/* Basket - Page navigation */

.nav-link .nav-link-basket {
    max-width: 150px;
    margin-top: 14px;
    padding-left: 246px;
}

.nav-link a,
.nav-link-basket {
    color: var(--basic-black);
    display: block;
    padding: 13px 0;
}

.nav-link a:hover,
.nav-link-basket:hover {
    color: var(--basic-red);
}

.nav-link a:active,
.nav-link-basket:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav-link-basket {
    padding-left: 40px;
    margin-left: auto;
    position: relative;
    align-self: end;
    padding-top: 13px
}

.nav-link-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("/img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 20px;
    left: 0;
}


/* Button */

.button {
    color: var(--basic-white);
    font: inherit;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 15px 40px 17px 39px;
}

.button:hover,
.button:focus {
    background-color: var(--hover-red);
}

.button:active {
    background-color: var(--active-red);
    color: var(--opacity-white)
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-red);
}


/* Promo - Slider */

.promo,
.promo-container {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: var(--basic-dark-white);
}

.slide-1 {
    background-image: url("/img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position: 96% -4px;
}

.slide-2 {
    background-image: url("/img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: 96% -4px;
}

.slide-3 {
    background-image: url("/img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: 96% -4px;
}

.promo-slide {
    color: var(--basic-light-black);
    padding-bottom: 80px;
}

.promo-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    padding-top: 74px;
    margin-bottom: 37px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.promo-slide:first-child .slider-title {
    padding-top: 74px;
    margin-bottom: 25px;
}

.promo-text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 28px;
}

.promo-slide:first-child .promo-text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 40px;
}

.promo-slide img {
    object-fit: cover;
    background-color: var(--basic-light-grey);
}

.slider-controls {
    position: absolute;
    left: 47.7%;
    z-index: 1;
    top: 431px;
    width: 88px;
    display: flex;
    justify-content: space-between;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--basic-white);
}

.slider-controls .current {
    background-image: url("/img/current-slide.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.slide-button {
    display: block;
    max-width: 240px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.promo-slide.active {
    display: block;
}


/* Features */

.features {
    padding: 80px 0;
    border-bottom: 2px solid var(--basic-dark-white);
}

.features-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.features-item {
    padding-top: 146px;
    position: relative;
    margin-right: 100px;
}

.features-item::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    top: 0;
    left: 0;
}

.features-item-web-site::before {
    background-image: url("/img/illustration-1.png");
}

.features-item-app::before {
    background-image: url("/img/illustration-2.png");
}

.features-item-ppt::before {
    background-image: url("/img/illustration-3.png");
}

.features-item-description {
    width: 260px;
}

.features-item-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-item-app .button {
    background-color: var(--basic-green);
}

.features-item-ppt .button {
    background-color: var(--basic-yellow);
}

.features-item-app .button:hover,
.features-item-app .button:focus {
    background-color: var(--hover-green);
}

.features-item-app .button:active {
    background-color: var(--active-green);
    color: var(--opacity-white)
}

.features-item-ppt .button:hover,
.features-item-ppt .button:focus {
    background-color: var(--hover-yellow);
}

.features-item-ppt .button:active {
    background-color: var(--active-yellow);
    color: var(--opacity-white)
}


/* About-company */

.about-company {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--basic-dark-white);
    align-content: flex-start;
}

.about-company-info {
    list-style: none;
    padding-left: 0;
}

.about-company-info li {
    margin-bottom: 23px;
    position: relative;
    padding-left: 35px;
}

.about-company-info li:last-child {
    padding-top: 2px;
}

.about-company-info li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--basic-red);
    top: 12px;
    left: 0;
}

.about-company-left {
    width: 660px;
    color: var(--basic-light-black);
}

.about-company-right {
    width: 360px;
    margin-top: -2px;
}

.about-company-right img {
    width: 360px;
    height: 208px;
}

.about-company-right p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 31px;
    padding-right: 0px;
}

.company-kpi-list {
    list-style: none;
    display: flex;
    margin-top: 0;
    padding: 0;
}

.company-kpi-slogan {
    padding-top: 284px;
    margin-top: 0;
}

.company-service-item {
    list-style: none;
}

.about-company-header {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-company-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.company-service-list-items,
.company-kpi-slogan {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.company-kpi-item-text {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}

.company-kpi-result {
    text-align: center;
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    padding: 0px;
}


/* Partners */

.partners {
    padding-top: 46px;
    padding-bottom: 44px;
}

.partners-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 2px solid var(--basic-dark-white);
}

.partners-item {
    display: flex;
    justify-content: center;
    width: 25%;
}

.partners-item a {
    opacity: 0.2;
}

.partners-item:hover a {
    opacity: 1;
}

.partners-item:active a {
    opacity: 0.1;
}


/* Map-Contacts */

.contacts {
    position: relative;
}

.contacts-map {
    border: 0;
    width: 100%;
    height: 416px;
    background-image: url("/img/map.png");
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-info {
    position: absolute;
    background-color: var(--basic-white);
    top: 54px;
    padding: 40px;
}

.contacts-name {
    margin: 0;
}

.contacts-name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
}

.contacts-adress,
.contacts-phone {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    display: flex;
}


/* Main footer */

.page-footer {
    display: flex;
    padding-top: 68px;
    padding-bottom: 68px;
}

.social {
    display: flex;
}

.social-item {
    list-style: none;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--social-grey);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.social-item li:last-child {
    margin-left: -2px;
}

.social-item li:hover {
    background-color: var(--hover-red);
}

.social-iteml li:active {
    background-color: var(--active-red);
    opacity: 0.3;
    box-shadow: inset 0px 3px 0px var(--active-shadow-grey);
}

.social-message-header {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    display: flex;
}

.social-message {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    padding-left: 14px;
    display: flex;
    color: var(--basic-extra-grey);
}


/* Modal window */

.modal {
    padding-top: 63px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 100px;
    width: 760px;
    box-shadow: 0px 20px 40px var(--modal-shadow-black);
    display: grid;
    grid-template-columns: 1fr auto;
    position: fixed;
    right: 0;
    bottom: 200px;
    left: 0;
    margin: auto;
    background-color: var(--basic-white);
    display: none;
    z-index: 2;
}

.modal-show {
    display: grid;
}

.modal-show-animation {
    animation: bounce 0.6s;
}

.modal-error-animation {
    animation: shake 0.6s;
}

.modal-container {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.close-btn {
    width: 21px;
    height: 21px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0.3;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn:active {
    opacity: 0.1;
}

.close-btn::before,
.close-btn::after {
    content: "";
    position: absolute;
    top: 72px;
    right: 80px;
    width: 21px;
    height: 3px;
    background-color: var(--basic-red);
}

.close-btn::before {
    transform: rotate(45deg);
}

.close-btn::after {
    transform: rotate(-45deg);
}

.modal h2 {
    font-size: 45px;
    line-height: 52.73px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    margin-bottom: 37px;
    max-width: 700px;
}

.modal-label {
    line-height: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 9px;
}

.modal-item {
    width: 360px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.modal-item input {
    width: 360px;
    margin-bottom: 34px;
}

.modal-item textarea {
    width: 760px;
    min-height: 118px;
    margin-bottom: 34px;
}

.modal-item input,
.modal-item textarea {
    border-color: var(--input-grey);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.modal-label input::-webkit-input-placeholder,
.modal-label textarea::-webkit-input-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input::-moz-placeholder,
.modal-label textarea::-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:-moz-placeholder,
.modal-label textarea:-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:hover,
.modal-label textarea:hover {
    border-color: var(--input-grey-hover);
}

.modal-label input:hover::-webkit-input-placeholder,
.modal-label textarea:hover::-webkit-input-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:hover::-moz-placeholder,
.modal-label textarea:hover::-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:hover:-moz-placeholder,
.modal-label textarea:hover:-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:focus,
.modal-label textarea:focus {
    border-color: var(--basic-black);
}

.modal-label input:focus::-webkit-input-placeholder,
.modal-label textarea:focus::-webkit-input-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:focus::-moz-placeholder,
.modal-label textarea:focus::-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

.modal-label input:focus:-moz-placeholder,
.modal-label textarea:focus:-moz-placeholder {
    color: var(--basic-extra-grey);
    opacity: 1;
}

input:invalid {
    color: var(--hover-red);
    border-color: var(--hover-red);
}

.modal-container+.button {
    display: block;
    width: 260px;
    height: 60px;
}


/* Catalog page title */

.catalog-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

.page-header-title {
    text-align: center;
    padding-top: 72px;
    padding-bottom: 108px;
    margin: 0;
}


/* Catalog page Filters */

.catalog-filters legend,
.sort-types,
.product-popup h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-filters {
    color: var(--basic-light-black);
    font-size: 16px;
    line-height: 19px;
    margin-top: 55px;
}

.grids-filter-item {
    padding-left: 36px;
    margin-bottom: 21px;
}

.grids-filter-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.features-filter .features-filter-item {
    margin-bottom: 22px;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 23px;
    height: 23px;
    background-image: url("/img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    left: -34px;
    top: -4px;
    width: 23px;
    height: 23px;
    background-color: var(--basic-white);
    background-image: url("/img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
    background-image: none;
}

.filter-input-checkbox:focus+label::before,
.filter-input-radio:focus+label::before {
    outline: 5px auto var(--basic-black);
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -5px;
    width: 25px;
    height: 25px;
    background-color: var(--basic-white);
    background-image: url("/img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -35px;
    width: 25px;
    height: 25px;
    background-color: var(--basic-white);
    background-image: url("/img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.filter-input-radio:checked+label::before {
    background-image: none;
}

.filter-input-checkbox:hover,
.filter-input-checkbox+label:hover::before {
    opacity: 1;
}

.filter-input-radio:hover,
.filter-input-radio+label:hover::before {
    opacity: 1;
}

.filter-input-checkbox:checked:hover,
.filter-input-checkbox:checked+label:hover::after {
    opacity: 1;
}

.filter-input-radio:checked:hover,
.filter-input-radio:checked+label:hover::after {
    opacity: 1;
}

.filter-item input:disabled+label {
    opacity: 0.3;
}

.filter-item input:disabled+label::before,
.filter-item input:disabled+label::after {
    opacity: 0.1;
}

.grids-filter legend {
    margin-bottom: 18px;
}

.features-filter legend {
    margin-top: 26px;
    margin-bottom: 16px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.range-filter {
    margin-bottom: 54px;
}

.filter fieldset:nth-child(2) {
    margin-bottom: 26px;
}

.filter fieldset:nth-child(3) {
    margin-bottom: 30px;
}

.filter-button {
    display: block;
    width: 260px;
    height: 50px;
}

.filter ul {
    padding: 0;
    margin: 0;
    line-height: 18px;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.price-filter legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-dark-white);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    height: 41px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-filter input {
    background-color: var(--basic-dark-white);
}

.range-controls .scale {
    height: 2px;
    background: var(--input-grey);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle-grey);
    border-radius: 50%;
    box-shadow: 0px 2px 1px var(--toggle-shadow-black);
    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.price-controls label {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    font-family: inherit;
    font-size: inherit;
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--basic-light-black);
    border: none;
    border-radius: 5px;
    background: var(--basic-dark-white);
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* Сatalog page Buttons */

.filter .button,
.pagination-item .button {
    background-color: var(--basic-dark-white);
    color: var(--basic-black);
    line-height: 18px;
    font-weight: 500;
}

.filter .pagination-button:hover,
.pagination-item .pagination-button:hover,
.pagination-button-active.pagination-button:hover {
    background-color: var(--catalog-light-grey);
    color: var(--basic-black);
    border: none;
}

.filter .pagination-button:active,
.pagination-item .pagination-button:active,
.pagination-button-active.pagination-button:active {
    background-color: var(--catalog-medium-grey);
    color: var(--opacity-black);
    box-shadow: inset 0px 3px 0px var(--active-shadow-grey);
    border: none;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: start;
    margin-left: 140px;
    padding: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: -12px;
}

.pagination-item .pagination-button {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.pagination-button-activet .pagination-button {
    background-color: var(--basic-white);
    border: 3px solid var(--catalog-pagination-white);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination-button-next.pagination-button {
    width: 260px;
}


/* Sort */

.sort {
    margin-left: 140px;
    margin-bottom: 88px;
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
}

.sort h2 {
    width: 360px;
    margin-right: 40px;
}

.sort-directions {
    display: flex;
    justify-content: flex-end;
    width: 40px;
    margin-left: 20px;
    align-items: center;
    padding: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

li .direction-type:last-child {
    margin-left: 18px;
}

.sort-action {
    font-size: 14px;
    line-height: 18px;
    color: var(--opacity-black);
    text-transform: uppercase;
    margin-right: 25px;
}

.sort-action a:hover {
    color: var(--less-opacity-black);
}

.sort-action a:active,
.sort-current {
    color: var(--basic-black);
}

.direction-type:hover path {
    fill: var(--catalog-arrow-light-grey);
    fill-opacity: 1;
}

.direction-type:active path {
    fill: var(--catalog-arrow-black);
    fill-opacity: 1;
}

.sort-current.direction-type path {
    fill: var(--catalog-arrow-black);
    fill-opacity: 1;
}

.sort-list {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    align-items: center;
    padding: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}


/* Templates catalog */

.templates-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
    margin-left: 140px;
    justify-content: flex-start;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.template-item {
    width: 358px;
    min-height: 618px;
    margin-right: 42px;
    margin-bottom: 31px;
    position: relative;
}

.template-item:nth-child(2n) {
    margin-right: 0;
}

.template-item:last-of-type {
    margin-right: 0;
}

.template-item {
    position: relative;
}

.template-item-link::after {
    content: "";
    width: 360px;
    height: 40px;
    background-image: url("/img/browser.png");
    background-color: var(--basic-white);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: -40px;
    left: 0;
    opacity: 0.12;
}

.template-item-link:hover::after,
.template-item-link:focus::after {
    opacity: 1;
}

.template-item img {
    object-fit: contain;
    background-color: var(--basic-white);
}

.product-popup {
    display: none;
}

.template-item:hover .product-popup,
.template-item-link:focus~.project-popup {
    display: block;
    background-color: var(--basic-dark-white);
    text-align: center;
    line-height: 18px;
    width: inherit;
    width: 360px;
    height: 231px;
    box-shadow: 0px 4px 4px var(--popup-shadow-black);
    position: absolute;
    top: 348px;
}

.product-popup h3 {
    padding-top: 26px;
    color: var(--basic-black);
}

.product-popup p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 13px;
    margin-bottom: 48px;
}

.product-popup .button {
    width: 200px;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 44px;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.product-popup .button:hover {
    background-color: var(--hover-red);
    color: var(--basic-white);
}

.product-popup .button:active {
    background-color: var(--active-red);
    color: var(--opacity-white);
}

.product-popup h3:hover {
    color: var(--basic-red);
}

.product-popup h3:active {
    color: var(--basic-black);
    opacity: 0.3;
}


/* Animations */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}